<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Codeblaze Study App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/fontawesome.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/jq.js' %}"></script>
  <header>
    <nav>
      <div>
        <div class="navbar">
          <div class="logo">
            <a  href="{% url 'index' %}">Student Study Portal</a> 
          </div>
          <ul class="menu">
            <li>
              <a class="active" href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li><a href="{% url 'books' %}">Books</a></li>
                <li><a href="{% url 'wiki' %}">Wikipedia</a></li>
                    <li><a  href="{% url 'dictionary' %}">Dictionary</a></li>
                    <li><a  href="{% url 'youtube' %}">Youtube</a></li>
                    <li><a  href="{% url 'todo' %}">To-do</a></li>
                    <li><a href="{% url 'homework' %}">Homework</a></li>
                    <li> <a class="dropdown-item" href="{% url 'notes' %}">Notes</a></li>
                   <li> <a href="{% url 'conversion' %}">Conversion</a></li>
    
                <li>
                  <a  href="{% url 'logout' %}">Logout</a>
                </li>
              {% else %}
                <li>
                  <a  href="{% url 'register' %}">Register</a>
                </li>
                <li >
                  <a href="{% url 'login' %}">Login</a>
                </li>
              {% endif %} 
            
            
          </ul>
          
          <div class="menu-btn">
            <i class="fas fa-bars">
            </i>
        </div>
          di
        </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br /><br />
  <main>
    {% if messages %}
      {% for msg in messages %}
          <div class="alert alert-{{msg.tags}}">{{msg}}</div>
      {% endfor %}
    {% endif %} 
    {% block content %}
    {% endblock content %}

  </main>
  
</body>

</html>